nav {
  margin-bottom: 0;
  height: 120px;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 0 1.5em; 
  color: #FFFFFF;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.fas.fa-angle-double-down{
  animation: bounce 2.5s infinite;
}


.brand {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 1.5em; 
}

.new-tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 2.0em; 
  
}

.new-tweet-container h4 {
  font-family: 'Source+Sans+3', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0; 
  padding: 0;
}

.new-tweet-container i {
  color: red; 
  padding-top: 8px;
  font-size: 1 em;
}

