.tweet-header {
  display: flex;
  align-items: center;

}

.tweet {
  border: 4px solid black;
  background-color: #f4f1ec;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 5px 5px 1px rgba(79, 143, 186, 0.8);

}

.picture  {
  padding: 15px;
  margin-right: 20px;
}

.name {
  font-weight: 1em;
}

.user {
  color: #bdc2c6;
  margin-left: auto;
  padding: 25px;
}

.old-tweet {
  font-weight: bold;
  padding: 15px;
  margin: 15px;
  background-color: #f4f1ec;
  border-bottom: 3px solid black;
  position: relative;  
}

.tweet-date {
  font-size: 20px;
  font-weight: bold;
padding-left: 30px;
padding-bottom: 20px;


}

.tweet footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  margin-right: 5px;
}

.fa-flag, 
.fa-retweet, 
.fa-heart {
  font-size: .8em;
  padding: 5px;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
  color: #D69421; 
  transform: scale(1.1); 
  cursor: pointer;
}

#error-message {
  color: red;
  background-color: #f4f1ec;
  border: 4px solid red ;
  padding: 10px;
  margin-bottom: 20px;
  display: none;

}